<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <h1>Please fill in customer information below and click submit when complete</h1>
        <form action="http://localhost:3000/saveCustomer">
            <label for="firstName">First Name</label><br>
            <input type="text" name="firstName" id="firstName" required>
            <br><br>
            <label for="lastName">Last Name</label><br>
            <input type="text" name="lastName" id="lastName" required>
            <br><br>
            <label for="homePhone">Home Phone</label><br>
            <input type="text" name="homePhone" id="homePhone">
            <br><br>
            <label for="cellPhone">Cell Phone</label><br>
            <input type="text" name="cellPhone" id="cellPhone">
            <br><br>
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <script></script>
    </body>
</html>