<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <p class="ul">What would you like to do?</p>
        <p>Add</p>
        <button onclick="location.href = 'http://localhost:3000/addSample';">Add Sample</button>
        <button onclick="location.href = 'http://localhost:3000/addCustomer';">Add Customer</button>
        
        <p>Checkout</p>
        <button>Checkout Samples</button>
        
        <p>Lookup</p>
        <button onclick="location.href = 'http://localhost:3000/viewCustomers';">Lookup Customer</button>
        <button onclick="location.href = 'http://localhost:3000/viewSamples';">See All Samples</button>
        <button>View Checked Out Samples</button>
    </body>
</html>