<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 id="JC1">JC1</h1>
        <h1>Welcome to this app</h1>
        <p>What would you like to do?</p>
        <button onclick="location.href = 'http://localhost:3000/addSample';">Add Sample</button>
        <button>Checkout Samples</button>
        <button onclick="location.href = 'http://localhost:3000/addCustomer';">Add Customer</button>
        <button>Lookup Customer</button>
        <button onclick="location.href = 'http://localhost:3000/viewSamples';">See All Samples</button>
    </body>
</html>