<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <p>Data from the request</p>
        <p id="data"></p>
        <script>
            document.getElementById('data').innerHTML = httpGet('http://localhost:8889/getCheckedOutSamples');
            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }
        </script>
    </body>
</html>