<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <h1 id="sampleInput"></h1>
        <input type="text" name="" id="input">

        <script>
            var input = document.getElementById('input');
            input.select();
            var itemId = new URL(location.href).searchParams.get('sampleId');
            document.getElementById('sampleInput').innerHTML = 'Enter Sample Name for ID: ' + itemId;
            
            input.addEventListener('keydown', function(e) {
                if(e.code === 'Enter' || e.code === 'NumpadEnter') {
                    var sample = {
                        "externalId": itemId,
                        "name": input.value
                    }
                    addSampleInfo(sample);
                    alert('Thanks for adding sample with Name "' + input.value + '" and ID "' + itemId + '"');
                    location.href = 'http://localhost:3000/';
                }
            });

            function addSampleInfo(sample) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'http://localhost:8889/addSample', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(sample));
            }

        </script>
    </body>
</html>