<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <p>Please Scan the Sample's Barcode</p>
        <input type="text" name="" id="input">
        <script>
            var input = document.getElementById('input');
            input.select();
            input.addEventListener('keydown', function(e) {
                if(e.code === 'Enter' || e.code === 'NumpadEnter') {
                    var url = new URL('http://localhost:3000/addSampleInfo');
                    url.searchParams.set('sampleId', input.value);
                    location.href = url;
                }
            });
        </script>
    </body>
</html>