<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <p>Data from the request</p>
        <p id="data"></p>
        <script>
            var data = JSON.parse(httpGet('http://localhost:8889/getCustomers'));
            
            document.getElementById('data').innerHTML = createTable(data);
            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }

            function createTable(jsonData) {
                var tableInfo = `<table id="customerTable">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Home Phone</th>
                        <th>Cell Phone</th>
                        <th>Email</th>
                        <th>Select</th>
                    </tr>`;
                
                for(var item of data) {
                    tableInfo += `<tr>
                        <td>${item.id}</td>
                        <td>${item.firstName}</td>
                        <td>${item.lastName}</td>
                        <td>${item.homePhone}</td>
                        <td>${item.cellPhone}</td>
                        <td>${item.email}</td>
                        <td><button onclick = "checkoutSamples()">Select</button></td>
                    </tr>`
                }
                tableInfo += '</table>';
                return tableInfo;
            }

            function checkoutSamples() {
                var url = new URL('http://localhost:3000/');
                location.href = url;
            }
        </script>
    </body>
</html>