<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="baseStyle.css">
    </head>
    <body>
        <h1 id="JC1">JC1</h1>
        <img src="carpetOne.png" alt="" id="carpetOne">
        <br>
        <br>
        <br>
        <button onclick="location.href = 'http://localhost:3000'">Home</button>
        <h1>Please select the customer checking out samples</h1>
        <p id="data"></p>
        <script>
            var data = JSON.parse(httpGet('http://localhost:8889/getCustomers'));
            
            document.getElementById('data').innerHTML = createTable(data);
            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }

            function createTable(jsonData) {
                var tableInfo = `<table id="customerTable">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Home Phone</th>
                        <th>Cell Phone</th>
                        <th>Email</th>
                        <th>Select</th>
                    </tr>`;
                
                for(var item of data) {
                    tableInfo += `<tr>
                        <td>${item.id}</td>
                        <td>${item.firstName}</td>
                        <td>${item.lastName}</td>
                        <td>${item.homePhone}</td>
                        <td>${item.cellPhone}</td>
                        <td>${item.email}</td>
                        <td><button onclick = "checkoutSamples(${item.id})">Select</button></td>
                    </tr>`
                }
                tableInfo += '</table>';
                return tableInfo;
            }

            function checkoutSamples(customerId) {
                var url = new URL(location.href);
                var sampleIds = url.searchParams.get('sampleIds').split(",");

                var url = new URL('http://localhost:3000/');
                url.searchParams.set("sampleIds", sampleIds);
                url.searchParams.set("customerId", sampleIds);

                var relationships = {
                    "customerId": customerId, 
                    "sampleIds": sampleIds
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'http://localhost:8889/addCheckedOutSamples', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(relationships));
                
                var home = new URL('http://localhost:3000/');
                location.href = home;
            }
        </script>
    </body>
</html>